@media (min-width: 768px){
  .app{
    background-color: #ECFFDC;
    display: flex;
    align-item: center;
    justfy-content: center;
    height:100vh;
    width: 100%;
  }
  .view, form{
    background-color: white;
    width: 30%;
    padding: 60px;
    border-radius: 10px;
    height: 95%;
    overflow:auto;
  }
}